{{- range $key, $val := .Values.deployment }}
{{- range $ing_key, $ing_val := $val.ingress }}
{{- if $ing_val.apikey}}
apiVersion: configuration.konghq.com/v1
kind: KongConsumer
metadata:
  name: "{{ $ing_val.name }}-apikey-consumer"
  annotations:
    kubernetes.io/ingress.class: kong
username: "{{ $ing_val.name }}-apikey-user"
custom_id: "{{ $ing_val.name }}-apikey-user"
credentials:
  - {{ $ing_val.name }}-apikey-credential
---  
apiVersion: v1
kind: Secret
metadata:
  name: {{ $ing_val.name }}-apikey-credential
type: Opaque
stringData:
  kongCredType: key-auth
  key: {{ $ing_val.apikey}}

---  
  
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: {{ $ing_val.name }}-apikey
plugin: key-auth

---    
{{- end}}
{{- end }}
{{- end }}         