{{- range $key, $val := .Values.deployment }}    
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: "{{ $val.name }}"
spec:  
  {{- if $val.hpa}}
  maxReplicas: {{ $val.hpa.maxReplicas | default "3" }}
  minReplicas: {{ $val.hpa.MinReplicas | default "1" }}
  {{- else}}
  maxReplicas: 3
  minReplicas: 1
  {{- end }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: "{{ $val.name }}"
  targetCPUUtilizationPercentage: 75
{{- end}}