{{- range $key, $val := .Values.deployment }}        
{{- range $ing_key,$ing_val := $val.ingress }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $ing_val.name }}
  annotations:
    konghq.com/strip-path: "{{ $ing_val.strip_path | default "true"}}" 
    {{- if $ing_val.jwt}}
    konghq.com/plugins: {{ $ing_val.name }}-jwt
    {{- end }}
    {{- if $ing_val.apikey}}
    konghq.com/plugins: {{ $ing_val.name }}-apikey, {{ $ing_val.name }}-acl
    {{- end }}    
    {{- if $ing_val.ip_restriction}}
    konghq.com/plugins: {{ $ing_val.name }}-ip-restriction
    {{- end }}
    {{- if $val.use_grpc}}
    konghq.com/protocols : grpc,grpcs
    {{- end }}  

spec:
  ingressClassName: kong
  rules:
  - http:
      paths:
      {{- if $val.use_grpc}}
      - path: /grpc.reflection.v1alpha.ServerReflection/ServerReflectionInfo
        pathType: Prefix
        backend:
          service:
            name: "{{ $val.name }}"
            port:
              number: 80
      {{- end }}  

      - path: "{{ $ing_val.path }}"
        pathType: Prefix
        backend:
          service:
            name: "{{ $val.name }}"
            port:
              number: 80
---            
{{- end}}
{{- end}}              