{{- if .Values.secrets }}
---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: "{{ .Release.Name }}-secret"  
spec:
  encryptedData:
    {{- range $key, $val := .Values.secrets }}
    {{ $key }}: {{ $val }}
    {{- end }}    
  template:
    data: null
    metadata:
      creationTimestamp: null
      name: {{ .Release.Name }}-secret
      namespace: {{ .Release.Namespace }}
---      
{{- end }}
