# deployment:
#  - name: hello-world
#    image: "nginxdemos/hello"
#    tag: "latest"
#    requests:
#      memory: "125Mi"
#      cpu: "50m"
#    hpa:
#      maxReplicas: 3
#      minReplicas: 1
#      targetCPUUtilizationPercentage: 80
#    use_grpc: true
#   #  keyvault:
#   #    data:
#   #      - key: test2                         
#   #        objectName: AntAnt-AntConnectionString
#    service:
#      targetPort: 80
#    dd_trace:
#      environment: "uat"
#      version: "v1"
#    ingress:
#      - name: default-ingress
#        host: "internal-qa.ant.cl"
#        strip_path: "true"
#        path: /example
#        ip_restriction:
#          ips:
#            - 127.0.0.1
#            - 192.168.1.1
#          message: "<script>window.location.assign('https://mantencion.ant.cl');</script><meta http-equiv='Cache-Control' content='no-cache, mustrevalidate'>"
#      - name: default-ingress2
#        strip_path: "true"
#        apikey: secretapikey2 
#        path: /example  
#        jwt:
#          config:
#            secret_is_base64: false
#            run_on_preflight: true
#            maximum_expiration: 60
#            claims_to_verify:
#              - exp
#          credential:    
#            algorithm: HS256
#            key: 
#            secret: 
#    vpa: "Off"
#    volumeMounts:
#      name: azure-blob-storage
#      mountPath: /mnt/azure
#      readOnly: false
# cronTabs:
#  - name: example-cronjob
#    image: "ansregistry.azurecr.io/platform-engineering/example-cronjob"
#    tag: "v0.0.1"
#    schedule: "*/30 * * * *"
#    requests:
#      memory: "256Mi"
#      cpu: "100m"
#    dd_trace:
#      environment: "qa"
#      version: "v0.0.1" 

# keyvault:
#  identityID: ### identity id
#  name: # kv name 
#  data:
#    - key: test2                         
#      objectName: AntAnt-DbPassword

# secrets:
#  exampleSecret: exampleValuesecret

# env: 
#  example: example

# cron:
#  image:
#  schedule:
#  command:

# persistentVolumeClaims:
#  - name: azure-blob-storage                   # required
#    storage: 5Gi                               # optional   
#    storageClassName: azureblob-nfs-premium    # optional
#    accessMode: ReadWriteMany                  # optional