{{- range $key, $val := .Values.deployment }}  
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: "{{ $val.name }}"
  name: "{{ $val.name }}"
spec:  
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: "{{ $val.name }}"
  template:
    metadata:
      labels:
        app: "{{ $val.name }}"
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      containers:
        - image: {{ $val.image }}:{{ $val.tag }} 
          name: "{{ $val.name }}"
          {{- if $.Values.env }}
          envFrom:
            - configMapRef:
                name: {{ $.Release.Name }}-cm
          {{- end }}
          {{- if $.Values.secrets }}      
          env:
            {{- range $key, $val := $.Values.secrets }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ $.Release.Name }}
                  key: {{ $key }}            
            {{- end }} 
          {{- end }}  
          resources:
            requests:
              memory: "{{ $val.requests.memory }}"
              cpu: "{{ $val.requests.cpu }}"

--- 
{{if $val.ingress }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $val.name }}-ingress
  annotations:
    konghq.com/strip-path: "{{ $val.ingress.strip_path | default "true"}}"  
spec:
  ingressClassName: kong
  rules:
  - http:
      paths:
      - path: "{{ $val.ingress.path }}"
        pathType: Prefix
        backend:
          service:
            name: "{{ $val.name }}"
            port:
              number: 80
---
 {{end}}
apiVersion: v1
kind: Service
metadata:
  labels:
    app: "{{ $val.name }}"
  name: "{{ $val.name }}"
spec:
  type : "{{ $val.service.type |default "ClusterIP"}}"
  ports:
  - port: 80
    protocol: TCP
    targetPort: {{ $val.service.targetPort |default "80" }}
  selector:
    app: "{{ $val.name }}"

---
  {{- if $val.hpa}}
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: "{{ $val.name }}"
spec:  
  maxReplicas: {{ $val.hpa.maxReplicas | default "3" }}
  minReplicas: {{ $val.hpa.MinReplicas | default "1" }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: "{{ $val.name }}"
  targetCPUUtilizationPercentage: 75
---  
  {{- end }}
apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: "{{ $val.name }}"
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind:       Deployment
    name:       "{{ $val.name }}"
  updatePolicy:
    updateMode: {{ $val.vpa | default "Off" }}
---      

  {{- if $val.jwt}}
apiVersion: configuration.konghq.com/v1
kind: KongConsumer
metadata:
  name: "{{ $val.name }}-consumer"
  annotations:
    kubernetes.io/ingress.class: kong
username: "{{ $val.name }}-user"
custom_id: "{{ $val.name }}-user"
credentials:
  - {{ $val.name }}-jwt-credential
---  
  {{- end}}
  {{- if $val.jwt}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $val.name }}-jwt-credential
type: Opaque
stringData:
  kongCredType: jwt
  {{- range $key, $val := $val.jwt.credential }}
  {{ $key }}: {{ $val }}
  {{- end }}  
---  
  {{- end }}
  {{- if $val.jwt}}
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: {{ $val.name }}-jwt
plugin: jwt
disabled: false
config:
  {{- range $key, $val := $val.jwt.config }}
  {{ $key }}: {{ $val }}
  {{- end }} 
---    
  {{- end}}
{{- end }}       