apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: "{{ .Release.Name }}"
  name: "{{ .Release.Name }}"
spec:
  selector:
    matchLabels:
      app: "{{ .Release.Name }}"
  template:
    metadata:
      labels:
        app: "{{ .Release.Name }}"
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      containers:
        - image: {{ .Values.deployment.image }}:{{ .Values.deployment.tag }}
          name: "{{ .Release.Name }}"
          {{- if .Values.env}}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-cm
          {{- end}}
          {{- if .Values.secrets }}      
          env:
            {{- range $key, $val := .Values.secrets }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: main-secret
                  key: {{ $key }}            
            {{- end }}
          {{- end }}         
          resources:
            requests:
              memory: "{{ .Values.deployment.requests.memory }}"
              cpu: "{{ .Values.deployment.requests.cpu }}"
